# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
vm-config/

# Editor settings
.vscode/
.idea/
*.sublime-workspace

# OS system files
.DS_Store
Thumbs.db

# Logs and swap files
*.log
*.swp
*.tmp
*.bak
*.old

# Kubernetes secrets or backup yamls (optional)
K8s/*.yaml.bak

# Ignore compiled binaries or installers (optional)
*.exe
*.out
*.o

# Jupyter notebook checkpoints (optional)
.ipynb_checkpoints/
